version: '3'
services:
  # Сам поисковый движок
  opensearch-node:
    image: opensearchproject/opensearch:latest
    container_name: opensearch-node
    environment:
      - cluster.name=opensearch-cluster
      - node.name=opensearch-node
      # Режим одного узла (важно для локального запуска)
      - discovery.type=single-node
      # Отключаем проверку сложной памяти для старта
      - bootstrap.memory_lock=true
      # Пароль для admin (стандартный для демо)
      - OPENSEARCH_INITIAL_ADMIN_PASSWORD=myStrongPassword123!
    ulimits:
      memlock:
        soft: -1
        hard: -1
      nofile:
        soft: 65536
        hard: 65536
    volumes:
      - opensearch-data:/usr/share/opensearch/data
    ports:
      - 9200:9200 # HTTP REST API
      - 9600:9600 # Performance Analyzer
    networks:
      - opensearch-net

  # UI (Аналог Kibana)
  opensearch-dashboards:
    image: opensearchproject/opensearch-dashboards:latest
    container_name: opensearch-dashboards
    ports:
      - 5601:5601
    expose:
      - "5601"
    environment:
      - 'OPENSEARCH_HOSTS=["https://opensearch-node:9200"]'
    networks:
      - opensearch-net
    depends_on:
      - opensearch-node

volumes:
  opensearch-data:

networks:
  opensearch-net: